body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
/* map box layer stuff */

.map-overlay {
    justify-content: center;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    z-index: 2;
    height: 4rem;
    width: 15rem;
    padding: 10px;
    }

button {
    /* left: 37%; */
    /* margin-top:320%; */
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    height: 4rem;
    width: 15rem;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    /* justify-self: center; */
}

button:hover {
        background-color: whitesmoke;
        border: #ffa500 solid 1px;
        color: #ffa500;
}
